.jumbotron
	h1 Hi!
	.lead I'm #{link_to 'Preston Lee', 'http://prestonlee.com'}, the original designer of BitTorious, primary developer and maintainer.

h2 History
p BitTorious was initially conceived when I worked at the #{link_to 'Translational Genomics Research Institute', 'http://tgen.org'} in Phoenix as a way to exchange large sets of genomic data to a number of collaborator sites thousands of miles apart. BitTorrent for scientific data is nothing new, but the lack of role-based tracker protections prevent the "standard" BitTorrent trackers from being incredibly useful when you really don't want to release your data to everyone on the planet. BitTorious was born to meld these concepts into a singular tracker/portal service that's easy to understand and simple for subscribers to use.
p The original proof-of-concept version of BitTorious was sucessfully deployed and used, and was released under an Open Source license. Since then I've moved on to greener pastures, but have continued to update and maintain BitTorious as a general-purpose private BitTorrent tracker implementation.

h2 Technology
p BitTorious is built on Rails v4, jQuery and Bootstrap. If you're a Ruby developer interested in BitTorrent, I could always use a hand added support for new tracker specifications and portal features!