
.row
	.well
		.col-sm-6
			img.pull-right(src="/images/logo/logo.png", width="200")
		.col-sm-6
			h1 BitTorious
			.lead is a free platform for scientists to distribute and archive data over the Internet.
			//- h1
				i.fa.fa-windows
				|  
				i.fa.fa-apple
		.clearfix


	.col-sm-12.text-center
		a(href="https://github.com/preston/bittorious", target="_blank")
			i.fa.fa-github-square 
			|  Portal Code
		|  | 
		a(href="https://github.com/preston/bittorious-volunteer", target="_blank")
			i.fa.fa-github-square 
			|  Volunteer Client Code
		|  | 
		a(href="https://twitter.com/prestonism", target="_blank")
			i.fa.fa-twitter-square 
			|  Author Twitter
		|  | 
		a(href="https://linkedin.com/in/prestonvictorlee", target="_blank")
			i.fa.fa-linkedin-square 
			|  Author LinkedIn

	.col-sm-6
		h4
			i.fa.fa-bullhorn
			|  Why should I run this?
		p Humanity's' most critical research efforts in medicine, physics, economics, and many "big data" fields are crippled by the overwhelming costs of computing infrastructure.
		p
			| BitTorious allows 
			b you
			| , the 
			i citizen scientist
			| , to let researchers cost-effectively manage their world-rocking projects by pitching in a small fraction of your computer's hard disk.
	.col-sm-6
		h4
			i.fa.fa-money
			|  Will it cost me?
		p
			| For most users running BitTorious on a home computer (or laptop), 
			i nothing
			| . This assumes you have a broadband connection such as cable or DSL with a reasonably high (if not unlimited) amount of bandwidth cap.
		p
			| You should 
			b not 
			| run BitTorious Volunteer on a typical cellular network such as through an iOS or Android device, since most contracts would acrue bandwidth overages.

	//- .well
	.col-sm-12
		h4.text-center Scientist Q&amp;A
	.col-sm-4
		h6 I'm a legitimate scientist. Can I syndicate my data to the official public portal?
		p Please email the authors to discuss. If you want full control of the network, though, you'll need to run your own portal under your own domain.
	.col-sm-4
		h6 Can I run my own BitTorious portal for my own projects?
		p
			b Yup! 
			span The source code for BitTorious is completely free, and released under an Open Source license. The Volunteer client may be distributed for use with your own portal without modification. You may also purchase support from the author to help fund the project, at your option.
	.col-sm-4
		h6 Can I run distributed computation as well?
		p No. BitTorious' focus is storage, but would consider patches supporting distributed map/reduce via JavaScript. If computation is your primary need, consider a platform such as BOINC.
