#dashboard {

	#feeds {
		td:nth-child(1),
		td:nth-child(2) {
			cursor: pointer;
		}
		a {
			margin-top: 10px;
		}
	}

	#create_feed_dialog {
		#new_feed {
			#feed_buttons {
				display: none;
			}
		}
	}

	#torrents {
		td:nth-child(1),
		td:nth-child(2),
		td:nth-child(3),
		td:nth-child(4),
		td:nth-child(5) {
			cursor: pointer;
		}
	}
	#feeds,
	#torrents {
		tr {
			-webkit-transition:	all .2s ease-out;
			-moz-transition:	all .2s ease-out;
			-o-transition:		all .2s ease-out;
			transition:			all .2s ease-out;
		}
		tr:hover {
			background-color: #c7e6f8;
			-webkit-transition:	all .2s ease-out;
			-moz-transition:	all .2s ease-out;
			-o-transition:		all .2s ease-out;
			transition:			all .2s ease-out;
		} 
	}


	#torrent_details #active_peers table {
		background: image-url('textures/tileable_wood_texture/tileable_wood_texture.png') repeat;
		// background: image-url('textures/xv/xv.png') repeat;
		// box-shadow: 0 20px 20px #333 inset, 0 0px 2px #fff;
		box-shadow: 0 20px 20px #333;
		border-radius: 2px;
		border: 1px solid #ccc;
		// margin: 20px 0;
		// padding: 20px;
	}

	#map_canvas {
			height: 400px;
			margin: 20px;
			padding: 20px;
			box-shadow: 0 20px 20px #333, 0 0px 2px #fff inset;
	}

}
