#landing {
	
	#benefits,
	#architecture,
	#deployment {
	
		> div {
			padding: 60px;
			text-align: justify;
			
			-webkit-transition:	all .3s ease-out;
			-moz-transition:		all .3s ease-out;
			-o-transition:			all .3s ease-out;
			transition:					all .3s ease-out;
		}
		

/*		
		> div:hover {
			-webkit-transform:
				perspective(0)
				rotate3d(0, 0, 0, 0deg);
						
			-webkit-transition:	all .3s ease-out;
			-moz-transition:		all .3s ease-out;
			-o-transition:			all .3s ease-out;
			transition:					all .3s ease-out;
		}*/

	}
	
	#splash,
	#reference_architecture {
		background: url(/assets/textures/ricepaper/ricepaper.png) repeat;
		margin: 20px -28px;
		border-top:					1px solid #ddd;
		border-bottom:			1px solid #ddd;
		border-radius: 4px;
		box-shadow: 0 20px 20px rgba(0,0,0,.8), 0 0px 80px #eee inset;
		-webkit-transition:		all .5s linear;
		-moz-transition:		all .5s linear;
		-o-transition:			all .5s linear;
		transition:				all .5s linear;
	}
	
	#splash:hover,
	#reference_architecture:hover {
		box-shadow: 0 20px 20px rgba(0,0,0,.8), 0 0px 180px #eee inset;

		-webkit-transition:	all .5s linear;
		-moz-transition:		all .5s linear;
		-o-transition:			all .5s linear;
		transition:					all .5s linear;
	}
}

