
body {
  /* background: image-url('textures/tileable_wood_texture/tileable_wood_texture.png') repeat; */
  background-color: none;
  background: image-url('textures/xv/xv.png') repeat;

}

footer p > span {
	padding: 20px;
}
