div id="map_canvas"    

/ div class="btn-group" data-toggle="buttons-checkbox"
  / button type="button" id="peer_visibility_button" class="btn active" Show Peers
  / button type="button" class="btn" Something Else
